 body {
     background-color: rgba(97, 89, 200, 0.438);
     font-family: fantasy;
 }
 
 img {
     height: 70vh;
     width: 100px;
     /* object-fit: cover; */
     overflow: hidden;
 }
 
 .option-container {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     width: 200px;
     height: 200px;
     border-radius: 50%;
     overflow: hidden;
     object-fit: cover;
 }
 
 #midiv-1 {
     display: flex;
     flex-direction: column;
     width: 75vw;
     height: 100vh;
     background: #cbceb3;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     /* color: pink; */
 }
 
 .necio {
     color: blue;
     text-align: center;
 }
 
 .necio2 {
     color: red;
     text-align: center;
 }
 
 .mih1 h1{
     /* color: rgb(36, 95, 13); */
     text-align: center;
 }
 
 #midiv-2 {
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: 100vh;
     background: #0cd12d;
     text-align: center;
     /* align-items: center; */
     margin-left: auto;
     margin-right: auto;
     color: darkred;
 }
 
 .piedra {
     background: #ece258;
 }
 
 .papel {
     background: #eafaf7;
 }
 
 .tijera {
     background: #fc03bd;
 }
 
 .botoncito {
     display: none;
 }
 
 .hide {
     display: block;
 }